@keyframes swipe-up {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  50% {
    transform: translateY(10px);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes show-hide {
  0% {
    opacity: 0.2;
    visibility: visible;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
